.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-color: #c1b492;
  margin-bottom: 2%;
}

.menu__titulo {
  margin-right: 10px;
  font-weight: bold;
}

.menu__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu__nav li {
  margin-right: 20px;
}

.menu__nav a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu__titulo {
    margin-right: 0;
  }

  .menu__nav ul {
    flex-direction: row;
    font-size: 16px;
    margin-left: 20px;
  }

  .menu__nav li {
    margin-bottom: 10px;
  }
}
